* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    margin: auto;
    background: cyan;
}

#carouselDiv {
    position: relative;
    width: 70%;
    height: 70%;
    overflow: hidden;
}

.carousel-inner {
    position: absolute;
    display: flex;
    width: 400%;
    height: 100%;
}

.carousel-inner .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.carousel-inner .item > img {
    width: 80%;
    height: 80%;
    margin: auto;
}*/